cmd/testdata/pet_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="urn:com:example:petstore"
             targetNamespace="urn:com:example:petstore">

    <types>
        <xsd:schema targetNamespace="urn:com:example:petstore">
            <xsd:element name="getPetByIdRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getPetByIdResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:int"/>
                        <xsd:element name="name" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="getPetByIdInput">
        <part name="parameters" element="tns:getPetByIdRequest"/>
    </message>
    <message name="getPetByIdOutput">
        <part name="parameters" element="tns:getPetByIdResponse"/>
    </message>

    <portType name="PetServicePortType">
        <operation name="getPetById">
            <input message="tns:getPetByIdInput"/>
            <output message="tns:getPetByIdOutput"/>
        </operation>
    </portType>

    <binding name="PetServiceBinding" type="tns:PetServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getPetById">
            <soap:operation soapAction="urn:com:example:petstore:getPetById"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="PetService">
        <port name="PetServicePort" binding="tns:PetServiceBinding">
            <soap:address location="http://localhost:8080/pets"/>
        </port>
    </service>
</definitions>
